<h1>投稿一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.items.each do |item| %>
      <tr>
        <td><%= link_to item.title, user_item_path(@user, item) %></td>
        <td><%= link_to '編集', edit_user_item_path(@user, item) %></td>
        <td><%= link_to '削除', user_item_path(@user, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '投稿する', new_user_item_path(@user) %>
