<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @item.body %>
</p>

<%= link_to '編集', edit_user_item_path(@user,@item) %> |
<%= link_to '戻る', user_path(@user) %>
